<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugasbesaruas_akb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity5"
            android:label="Alun-Alun Kota Cimahi"/>
        <activity android:name=".MainActivity4"
            android:label="Dusun Bambu"/>
        <activity android:name=".MainActivity3"
            android:label="Gunung Tangkuban Perahu"/>
        <activity android:name=".MainActivity2"
            android:label="Kawah Putih Ciwidey"/>
        <activity
            android:name=".MainActivity"
            android:label="Map" />
        <activity
            android:name=".RegisterActivity"
            android:label="" />
        <activity
            android:name=".AboutActivity"
            android:label="About" />
        <activity
            android:name=".WisataActivity"
            android:label="Kab/Kota Wisata" />
        <activity
            android:name=".LoginActivity"
            android:label="" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>